Source: ev3dev-base-files
Section: admin
Priority: required
Maintainer: David Lechner <david@lechnology.com>
Standards-Version: 4.3.0
Build-Depends: debhelper (>= 10), config-package-dev,
    base-files (>= 10), base-files (<< 11)
Vcs-Browser: https://github.com/ev3dev/ev3dev-base-files
Vcs-Git: https://github.com/ev3dev/ev3dev-base-files.git

Package: ev3dev-base-files
Architecture: all
Depends: base-files (>= 10), base-files (<< 11), ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: ev3dev branding of Debian base-files
 This package contains the ev3dev branding to apply on top of Debian.
